<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <link rel="apple-touch-icon" sizes="180x180" href="/dev/apple-touch-icon.png">
    <link rel="manifest" href="/dev/site.webmanifest">

    <link rel="icon" type="image/png" sizes="32x32" href="/dev/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/dev/favicon-16x16.png">
    <link rel='icon' href='/dev/favicon.ico' type='image/x-icon'/>


    <title>Tobacco News Admin</title>

    <link rel="stylesheet" href="/build/app.css?b8e7dcf801a7d80debad">


</head>

<body data-debug="" data-project-code="tobacco">

<div class="container-fluid">


    <nav class="navbar  navbar-expand-sm">

        <code></code>

        <a class="navbar-brand" href="/">
                                                        <span class="brand">
                        <img class="float-left" alt="" height="16" width="16" src="/tobacco/favicon-16x16.png"/>&nbsp;
                        Tobacco News
                                </span>
        </a>

        <ul class="nav navbar-nav">


            <li class="nav-item first">

                <a href="/contact/" class=" nav-link">
                    Contact
                </a>
            </li>


            <li class="nav-item">

                <a href="/subscribe/" class=" nav-link">
                    Subscribe
                </a>
            </li>


            <li class="nav-item">

                <a href="/project/tobacco/help_us_out" class=" nav-link">
                    Help Us Out
                </a>
            </li>


            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    Tags
                </a>
                <div class="dropdown-menu">


                    <a href="/tag/category/" class=" dropdown-item nav-link">
                        Categories
                    </a>


                    <a href="/tags/tobacco/tagging-rules" class=" dropdown-item nav-link">
                        Tag Rules
                    </a>


                    <a href="/tags/tobacco/list.html" class=" dropdown-item nav-link">
                        All Tags
                    </a>


                    <a href="/tags/tobacco/index?_format=html" class=" dropdown-item nav-link">
                        Tag Index
                    </a>


                    <a href="/tags/tobacco/category/topic" class=" dropdown-item nav-link">
                        Topic
                    </a>


                    <a href="/tags/tobacco/category/state" class=" dropdown-item nav-link">
                        State
                    </a>


                    <a href="/tags/tobacco/category/country" class=" dropdown-item nav-link">
                        Country
                    </a>


                    <a href="/tags/tobacco/category/organization" class=" dropdown-item nav-link">
                        Organization
                    </a>


                    <a href="/tags/tobacco/category/lawsuit" class=" dropdown-item nav-link">
                        Lawsuit
                    </a>


                </div>

            </li>


            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    Projects
                </a>
                <div class="dropdown-menu">


                    <a href="/project/" class=" dropdown-item nav-link">
                        List
                    </a>


                    <a href="/project/tobacco/edit" class=" dropdown-item nav-link">
                        project_edit_tobacco
                    </a>


                    <a href="tobacco.org/" class=" dropdown-item nav-link">
                        tobacco.org/
                    </a>


                    <a href="/project/switch/tobacco?route=home" class=" dropdown-item nav-link">
                        Tobacco News
                    </a>


                    <a href="/project/switch/rapp?route=home" class=" dropdown-item nav-link">
                        Rappahannock Headlines
                    </a>


                    <a href="/project/switch/marijuana?route=home" class=" dropdown-item nav-link">
                        Cannabis News
                    </a>


                </div>

            </li>


            <li class="nav-item">

                <a href="/admin/tobacco//headlines" class=" nav-link">
                    Candidates
                </a>
            </li>


            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    Services
                </a>
                <div class="dropdown-menu">


                    <a href="/api2.0/docs" target="_blank" class=" dropdown-item nav-link">
                        api
                    </a>


                    <a href="/workflow/" class=" dropdown-item nav-link">
                        Workflows
                    </a>


                    <a href="/workflow-data" class=" dropdown-item nav-link">
                        Workflow Data
                    </a>


                    <a href="/landing" class=" dropdown-item nav-link">
                        Landing
                    </a>


                    <a href="/dashboard" class=" dropdown-item nav-link">
                        Dashboard
                    </a>


                    <a href="/project/" class=" dropdown-item nav-link">
                        Projects
                    </a>


                    <a href="/ez/" class=" dropdown-item nav-link">
                        EZ Admin
                    </a>


                    <a href="/tags/tobacco/xhr-tag-json-data" class=" dropdown-item nav-link">
                        Tag Data
                    </a>


                </div>

            </li>


            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    Admin
                </a>
                <div class="dropdown-menu">


                    <a href="/admin/tobacco//admin-articles" class=" dropdown-item nav-link">
                        Headline Candidates
                    </a>


                    <a href="/admin/tobacco//admin-sites" class=" dropdown-item nav-link">
                        Active Sites
                    </a>


                    <a href="/admin/tobacco//admin-articles-and-sites" class=" dropdown-item nav-link">
                        Headline + Sites
                    </a>


                    <a href="/admin/tobacco//headlines#active_headlines_card_anchor" class=" dropdown-item nav-link">
                        Fetched Articles
                    </a>


                    <a href="/suggestion/fetch/headline?projectCode=tobacco" class=" dropdown-item nav-link">
                        headline Suggestions
                    </a>


                    <a href="/editions/browse?projectCode=tobacco" class=" dropdown-item nav-link">
                        Editions
                    </a>


                    <a href="/admin/media/show-dups?projectCode=tobacco" class=" dropdown-item nav-link">
                        Duplicates
                    </a>


                    <a href="/admin/media/browse" class=" dropdown-item nav-link">
                        Media
                    </a>


                    <a href="/admin/tobacco//browse" class=" dropdown-item nav-link">
                        All Articles
                    </a>


                    <a href="/subscription/subscription/browse?projectCode=tobacco" class=" dropdown-item nav-link">
                        Subscribers
                    </a>


                </div>

            </li>


            <li class="nav-item">

                <a href="/logout" class=" nav-link">
                    Log out tac
                </a>
            </li>


            <li class="nav-item last">

                <a href="/profile/" class=" nav-link">
                    Profile
                </a>
            </li>


        </ul>


    </nav>


    <!-- render knp_menu_render -->
    <!-- end of menu render -->

    <!-- jQuery -->


    <div id="page-wrapper">




    <span id="data"
          data-beta="1"
          data-project-code="tobacco"
    >
    </span>

        <span id="message">
    </span>

        <div class="row">

            <div class="col-md-10">
                <ul class="nav nav-tabs">

                    <li>
                        <a class="nav-link" data-group-type="date" data-tab-code="postedDate" href="#postedDate"
                           role="tab" data-toggle="tab">
                            <i class="fad fa-calendar"></i>
                            Discovered
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" data-group-type="date" data-tab-code="sourceDate" href="#sourceDate"
                           role="tab" data-toggle="tab">
                            <i class="fad fa-calendar"></i>
                            Published
                        </a>
                    </li>

                    <li>
                        <a class="nav-link" data-group-type="tags" data-tab-code="topic" href="#topic" role="tab"
                           data-toggle="tab">
                            <i class="fad fa-tag"></i>
                            Topic
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" data-group-type="tags" data-tab-code="state" href="#state" role="tab"
                           data-toggle="tab">
                            <i class="fad fa-tag"></i>
                            State
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" data-group-type="tags" data-tab-code="country" href="#country" role="tab"
                           data-toggle="tab">
                            <i class="fad fa-tag"></i>
                            Country
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" data-group-type="tags" data-tab-code="organization" href="#organization"
                           role="tab" data-toggle="tab">
                            <i class="fad fa-tag"></i>
                            Organization
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" data-group-type="tags" data-tab-code="lawsuit" href="#lawsuit" role="tab"
                           data-toggle="tab">
                            <i class="fad fa-tag"></i>
                            Lawsuit
                        </a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div id="about" class="tab-pane fade in active">
                        Current list of articles, sorted by most recent
                    </div>


                    <div class="tab-pane fade in" id="postedDate">
                        <div id="postedDate_toc" class="toc">
                            postedDate Table of Contents...
                        </div>

                        <div id="postedDate_headlines">
                            <h3>Loading Discovered Headlines </h3>

                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>

                        </div>

                    </div>


                    <div class="tab-pane fade in" id="sourceDate">
                        <div id="sourceDate_toc" class="toc">
                            sourceDate Table of Contents...
                        </div>

                        <div id="sourceDate_headlines">
                            <h3>Loading Published Headlines </h3>

                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>

                        </div>

                    </div>


                    <div class="tab-pane fade in" id="topic">
                        <div id="topic_toc" class="toc">
                            topic Table of Contents...
                        </div>

                        <div id="topic_headlines">
                            <h3>Loading Topic Headlines </h3>

                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>

                        </div>

                    </div>


                    <div class="tab-pane fade in" id="state">
                        <div id="state_toc" class="toc">
                            state Table of Contents...
                        </div>

                        <div id="state_headlines">
                            <h3>Loading State Headlines </h3>

                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>

                        </div>

                    </div>


                    <div class="tab-pane fade in" id="country">
                        <div id="country_toc" class="toc">
                            country Table of Contents...
                        </div>

                        <div id="country_headlines">
                            <h3>Loading Country Headlines </h3>

                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>

                        </div>

                    </div>


                    <div class="tab-pane fade in" id="organization">
                        <div id="organization_toc" class="toc">
                            organization Table of Contents...
                        </div>

                        <div id="organization_headlines">
                            <h3>Loading Organization Headlines </h3>

                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>

                        </div>

                    </div>


                    <div class="tab-pane fade in" id="lawsuit">
                        <div id="lawsuit_toc" class="toc">
                            lawsuit Table of Contents...
                        </div>

                        <div id="lawsuit_headlines">
                            <h3>Loading Lawsuit Headlines </h3>

                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>

                        </div>

                    </div>


                </div>


            </div>

            <div class="col-md-2" style="background-color: lightyellow">
                <h3>Browse</h3>
                <form name="searchForm" method="post" id="searchForm" class="xxform-inline">

                    <div class="row XXform-inline">
                        <div class="col-md-12">
                            <div class="form-group"><label class="required" for="max">Show up to</label><select id="max"
                                                                                                                name="max"
                                                                                                                aria-describedby="max_help"
                                                                                                                class="form-control">
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100" selected="selected">100</option>
                                <option value="250">250</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                            </select><small id="max_help" class="form-text text-muted">Maximum headlines to view</small>
                            </div>
                            <div class="form-group"><label class="required" for="dayCount">headlines for</label><select
                                    id="dayCount" name="dayCount" class="form-control">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="7" selected="selected">7</option>
                                <option value="14">14</option>
                                <option value="30">30</option>
                                <option value="60">60</option>
                                <option value="90">90</option>
                                <option value="180">180</option>
                                <option value="365">365</option>
                            </select></div>
                            <div class="form-group"><label for="untilDate">day(s) on or before</label><input type="date"
                                                                                                             id="untilDate"
                                                                                                             name="untilDate"
                                                                                                             min="1998-01-01"
                                                                                                             max="2021-10-08"
                                                                                                             class="form-control"
                                                                                                             value="2021-10-08"/>
                            </div>
                            <div class="form-group"><select id="groupBy" name="groupBy" class="d-none form-control">
                                <option value="postedDate" selected="selected">Posted Date</option>
                                <option value="editionDate">By Edition</option>
                                <option value="sourceDate">Source Date</option>
                                <option value="media">By Media (Source)</option>
                                <optgroup label="Category">
                                    <option value="topic">Topic</option>
                                    <option value="state">State</option>
                                    <option value="country">Country</option>
                                    <option value="organization">Organization</option>
                                    <option value="lawsuit">Lawsuit</option>
                                </optgroup>
                            </select></div>
                            <div class="form-group row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    <div class="custom-control custom-switch"><input type="checkbox" id="topOnly"
                                                                                     name="topOnly" required="required"
                                                                                     class="custom-control-input"
                                                                                     value="1"/>
                                        <label class="switch-custom custom-control-label required" for="topOnly">Top
                                            Only</label></div>
                                </div>
                            </div>
                        </div>
                    </div>


                </form>


                <div>

                    <a id="permalink" href="">
                        <input type="submit" value="Permalink" class="btn btn-sm"/>
                    </a>

                    <a target="_blank" id="rss" href="">
                        <i class="fa fa-rss"></i>
                    </a>

                </div>


                <a id="articles_url" data-url="/article-search" target="_blank" href="/article-search">
                    <i class="fas fa-bug"></i>
                </a>

            </div>
        </div>    <!-- Tab panes -->


        <div id="posts" data-project-code="tobacco"></div>

    </div>
    <!-- /#page-wrapper -->

    <script type="text/template" id="title_template">
        <%= count %> (of <%= totalCount %>) Headlines by <%= search.groupBy %>.
    </script>

    <script type="text/template" id="expanded_article">
        <%= article.headline %>
    </script>

    <script type="text/template" id="test_template">
        <%= s %>
    </script>

    <script type="text/template" id="header_template">
        <h5 class="group-header"><a name="group_<%= code %>"><i class="fa <%= icon %>"></i> <%= title %></a>
            <a class="float-right" href="#headline_toc"><i class="fad fa-arrow-up"></i></a>
            <span class="badge badge-success float-right"><%= count %></span>
        </h5>
    </script>

    <script type="text/template" id="toc_template">


        <div class="card " xstyle="background-color: #333; border-color: #333;">
            <div class="card-block">
                <div class="card-title">
                    <h4>
                        <a id="headline_toc"><%= articleCount %> Headlines, grouped by <%= tagCategoryTitle %> <%=
                            groupedBy %></a>
                    </h4>
                </div>
                <div class="columns card-text">
                    <ul>
                        <% _.each(toc, function(t){ %>
                        <li><a href="#group_<%= t.code %>"><b><%= t.title %></b> <span class="text-secondary"><small><%= t.count %></small></span>
                        </a></li>
                        <% }); %>
                    </ul>
                </div>
                <div class="card-footer">
                <span id="message">
                    <%= searchData.json %>
                </span>
                </div>
            </div>
        </div>

    </script>


    <script type="text/template" id="article_template">
        <div class="article-row">

            <div class="article-head">

                <a target="_blank" href="<%= article.editUrl %>">
                    <i class="fal fa-edit fa-fw"></i>
                </a>
                <a target="_blank" class="xxhover-only" href="<%= article.showUrl %>"><i class="fal fa-eye"></i></a>


                <i class="fa-fw <%= (article.marking=='promoted') ? 'fas fa-star' : 'fal fa-star-half-alt' %>"></i>


                <a data-toggle="collapse"
                   class="article-<%= article.marking %>"
                   href="#article-<%= article.id %>"
                   data-target="#article-<%= article.id %>"
                ><%= article.headlineText %>
                </a>
                <br/>&nbsp;

                <a target="_blank" class="float-right" href="<%= article.finalUrl %>">

                    <% if (article.sourceDate) { %>
                    <time class="timeago article-date" datetime="<%= article.sourceDate %>"><%= article.sourceDate %>
                    </time>
                    <% } %>

                    <% if (media) { %>
                    <span class="article-source"> on <%= media.name %>:</span>
                    <% } %>

                    <i class="fad fa-external-link"></i>
                </a>
            </div>

            <div class="article-details">

                <div class="collapse" id="article-<%= article.id %>">
                    <% if (site) { %>
                    <span class="article-site">Discovered on <%= site.name %></span>
                    <% } %>

                    <div class="article-admin">
                        <%= article.marking %>

                        <a target="_blank" href="<%= article.editUrl %>">
                            <i class="fa fa-pencil"></i>&nbsp;Edit
                        </a>
                        <a target="_blank" class="xxhover-only" href="<%= article.showUrl %>"><i class="fa fa-eye"></i>&nbsp;show</a>
                        | POSTED:
                        <time class="timeago" datetime="<%= article.postedDate %>"></time>
                        <% if (article.editionId) { %>
                        <%= article.marking %> Edition: <%= article.editionId %>
                        <% } %>
                    </div>

                    <% if (article.subhead) { %>
                    <div class="article-subhead"><%= article.subhead %></div>
                    <% } %>

                    <% if (article.summary && (article.summary !== article.subhead) ) { %>
                    <span class="article-summary">
                    <%= article.summary %>
                    <br/>
                    </span>
                    <% } %>

                    <span class="article-tags">
                    <%= tagList %><br/>
                    </span>


                </div>
            </div>
        </div><!--/.article-row-->
    </script>

    <script src="/build/runtime.js?6e3f3c3a4c6f2dee3b4a"></script>
    <script src="/build/app.js?e1339dcb6f145cfc5a65"></script>


    <!-- headlines js -->
    <script src="/build/js/headlines.js?e4f99494e62f4af080a1"></script>


    <script src="/build/js/article-search.js?85fd70444e2b8661ac4e"></script>
    <script src="/build/js/select2Entity.js?b051a782e9386a9eaeed"></script>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">
                    &copy; Survos 1996-2021
            </span>
        </div>
    </footer>


    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 text-center">

        </div>
    </div>


</div> <!-- container -->


</body>

</html>
